apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: ${{ values.name | dump }}
spec:
  environments:
    - name: dev
      build:
        from: main
  components:
    - name: webapp
      src: "."
      ports:
        - name: http
          port: 8000
      publicPort: http
